.add_comment-container {
  width: 100%;
}

.comment-form {
  padding: 0.5rem 1.5rem;
  width: 50%;
  margin: auto;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
}

#comment-button {
  align-self: center;
  margin: 0;
}