.add_comment-container {
  background: white;
  margin: 0.5rem auto;
  border-radius: 10px;
  width: 60%;
}

.comment-form {
  padding: 0.25rem 0.25rem;
  width: 100%;
  margin: auto;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: white;
  display: flex;
  flex-direction: column;
}
.input-comment {
  background: white;
  border-radius: 4px;
}

#comment-button {
  align-self: center;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .add_comment-container {
    width: 100%;
  }
}
