.place-item {
  margin: 1rem 0;
}

.place-item__content {
  padding: 0 !important;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
}

.place-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  padding: 2px;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

.place-item__actions {
  position: relative;
  z-index: 11;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

.evaluation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.evaluation>div {
  margin: 10px 5px 0;
  display: flex;
}

.detailed-view{
  width: 60%;
  margin: auto;
}

.evaluation i:hover{
  cursor: pointer;
  opacity: 0.75;
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .place-item__image {
    height: 20rem;
  }
}

p.like-count {
  margin-top: 10px;
  margin-right: 10px;
}

p.dislike-count {
  margin-right: 10px;
}

.tag-chip {
  margin-right: 5px
}