.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.socialBtn {
  border: 1px solid #ff0055;
  border-radius: 6px;
  padding: 3%;
  margin: 3% 1%;
  font-size: 1rem;
}
.socialBtn:hover {
  color: white;
  box-shadow: 1px 1px gray;
  cursor: pointer;
}
.socialBtn:nth-child(2):hover {
  background: #3b5998;
}
.socialBtn:nth-child(3):hover {
  background: #db4437;
}

.socialName {
  font-family: inherit;
  letter-spacing: 1.5px;
  padding: 3%;
}
a.button.button--default.undefined.undefined {
  margin-top: 1rem !important;
}
