.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.socialBtn {
  border: 1px solid #ff0055;
  border-radius: 6px;
  padding: 3%;
  margin: 3% 1%;
  font-size: 1rem;
}
.socialBtn:hover {
  color: white;
  box-shadow: 1px 1px gray;
  cursor: pointer;
}
.socialBtn:nth-child(2):hover {
  background: #3b5998;
}
.socialBtn:nth-child(3):hover {
  background: #db4437;
}

.socialName {
  font-family: inherit;
  letter-spacing: 1.5px;
  padding: 3%;
}
a.button.button--default.undefined.undefined {
  margin-top: 1rem !important;
}
/* welcome page style */
.background {
  background-image: url("/images/image11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.left-div {
  text-align: center;
  color: white;
  z-index: 3;
}

.left-div p{
  text-align: left;
  margin-left: 50px;
}
.rigt-div{
  align-items: center;
}
.about {
  border-radius: 5px;
  overflow: hidden;
  color: white;
  padding: 1rem;
}

p {
  margin: 10px;
  padding-top: 20px;
}

.about-line__avatar {
  margin: 10px;
}
