.navLink {
  color: #ffd900;
  text-decoration: none;
  text-align: center;
  padding: 1%;
  border: 1px solid transparent;
  color: white;
}
.navLink:hover {
  background: #ffd900;
  color: black;
  border: 1px solid black;
}
.dropdown-content{
  display: flex;
  flex-direction: column;
  width: 10rem;
  background-color: #ff0055;
  position: absolute;
}
.dropdown-hidden{
  display: none;
}
.dropdown-content a{
  border-bottom: 1px solid white;
  margin-bottom: 0;
}
a.navLink{
  padding: 7% !important;
}
@media screen and (max-height:768px){
  .navLink{
    color:black;

  }
}

