@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background: #4d4d4d;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-text {
  color: white;
}

.gray-text {
  color: #4d4d4d;
}
.block {
  display: block;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.width-60 {
  width: 60%;
}
.yellow-text {
  color: #f8df00;
}
.m-1 {
  margin: 1rem;
}
.m-05 {
  margin: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.m-b-2 {
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  h2,
  h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .users-mobile {
    width: 60% !important;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.fade-in-faster {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forget_password {
  width: 40%;
  margin: auto;
}
@media (max-width: 750px) {
  .forget_password {
    width: 90%;
  }
}
@media (max-width: 750px) {
  .button {
    font-size: 12px !important;
    padding: 0.5rem 0.5rem;
  }
  .comment-form {
    padding: 0.5rem 0.5rem;
  }
  h2,
  h3 {
    font-size: 1rem;
  }
  .span.MuiButton-label {
    font-size: 1rem;
  }
}
